<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title.rendered %> - WealthPsychology</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/navbar/nav.css">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "headline": "<%= post.title.rendered %>",
          "datePublished": "<%= post.date %>",
          "dateModified": "<%= post.modified %>",
          "author": {
            "@type": "Organization",
            "name": "WealthPsychology"
          }
        }
        </script>

</head>
<body>

  <header> 
    <nav>
      <div class="menu-toggle" id="menu-bars">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
         
      <div class="brand-logo-container">
        <a href="/index.html" class="home-nav">
          <img src="/global/imgs/logo.webp" alt="Brand Logo" class="brand-logo">
        </a>
      </div>
   
      <h1>Blogs</h1> 
  
      <ul class="nav-menu">
        <li><a href="/index.html" >Home</a></li>
        <li><a href="/finance-hub/finance-hub.html">Finance Hub</a></li>
        <li><a href="blog.html" class="active">Blog</a></li>
        <li><a href="#path">Finance News</a></li>
        <li><a href="/plans/plans.html">Our Plans</a></li>
        <!-- <li class="search-bar">
          <input type="text" placeholder="Search...">
          <button type="submit">🔎</button>
        </li> -->
      </ul>
    </nav>
  </header> 

  <main>
    <h1><%= post.title.rendered %></h1>
    <%- post.content.rendered %>
    <a href="/blog">Back to Blog</a>
  </main>

</body>
</html>